<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="cnxTwilioDB" connectionString="Server=45.63.23.20;Database=BD_TEST_FPC_LuchoPE;User Id=USROWN_TESTLUCHOPE;password=LUCHOpe2022;Trusted_Connection=False;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <!-- Configuracion Twillio -->
    <add key="TWILIO_PhoneNumberWhatsappFrom" value="+14155238886"/>
    <add key="TWILIO_ACCOUNT_SID" value="AC46b0a9e3a3c654304f4510bc4845be71"/>
    <add key="TWILIO_AUTH_TOKEN" value="46391bcac446a7645b6d95338c7503a4"/>
    
    
    <!-- Configuracion Horas -->
    <add key="DIFERENCIA_HORAS" value="1"/>
    
    <!-- Pruebas -->
    <add key="IS_SEND_TYPE" value="1"/> <!-- 
                                            0 = Envía una prueba con los valores usar: TEST_Name, TEST_PhoneNumberWhatsappTo, 
                                            1 = Envía notificaciones en base a una fecha especifica: TEST_FechaNotificacion, TEST_PhoneNumberWhatsappTo, 
                                            2 = Producción
                                            -->
    <add key="IS_NEW_REGISTER" value="false"/>
    
    <add key="TEST_Name" value="Juan"/>
    <add key="TEST_PhoneNumberWhatsappTo" value="943873302"/>
    <add key="TEST_FechaNotificacion" value="2022-03-17"/>
    
    <add key="TEST_TEMPLATE_MESSAGE_A" value="Hola {0}, somos la Fundación Peruana de Cáncer y estamos muy felices de que te hayas registrado en nuestra web {1}.\nDesde ahora, cada mes te recordaremos cuándo te toca realizarte el autoexamen de mamas. ¡Atenta a nuestra alerta! ¡Vencer el cáncer de mama está en nuestras manos!" />
    <add key="TEST_TEMPLATE_MESSAGE_B" value="¡Hola {0}! Recuerda que hoy debes hacerte el autoexamen de mamas.\nSi aún no sabes cómo hacerlo, sigue los pasos aquí: {1}\nAnima a tus amigas y familia para que también reciban este recordatorio, registrándose en: {2}\nVencer al cáncer de mamas está en nuestras manos.\nFundación Peruana de Cáncer" />
    
    <!-- Number Phone -->
    
    <!--<add key="PhoneNumberWhatsappTo" value="943873302"/>-->
    
    <!-- Template Messag Body-->
    <add key="MessageMediaUrl" value="http://via.placeholder.com/640x360"/>
    <add key="MessageMediaUrlVideoYouTube" value="https://www.youtube.com/watch?v=Ba1BIdnuj3Y"/>
    <add key="MessageMediaUrlWeb" value="https://luchoporellas.com"/>
  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>